/* font */
menubar, menubutton, menulist, menu, menuitem, textbox, toolbar, tab, tree, tooltip
{
    font-family: "xos4 Terminus" !important;
    font-size: 8pt !important;
}

/* hide all toolbars */
#nav-bar:not([customizing="true"]):not([inFullscreen]) {
	min-height: 1px !important;
	max-height: 0px !important;
	margin-top: 1px !important;
	margin-bottom: -1px !important;
	transition: all 50ms linear 0s !important;
	z-index: -5 !important;
}

#urlbar {
	--urlbar-toolbar-height: 32px !important;
}

#TabsToolbar {
  visibility: collapse !important;
}
